* {
	margin: 0;
}

.header {
	background-color: black;
	width: 100%;
	text-align: center;
}

.header h1 {
	color: white;
	padding: 360px 0px 350px 0px;
}

.stickyNav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	background-color: black;
	border-bottom: 5px solid #FFD700;
	position: sticky;
	top: 0;
}

@media screen and (max-width: 600px){
	.stickyNav {
		flex-direction: column;
		align-content: center;
	}
}

.stickyNav a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

.stickyNav a:hover{ 
	color: #FFD700;
}

.about {
	border-bottom: 5px solid #FFD700;
	background-color: #e8e8e8;
}

.portfolio {
	border-bottom: 5px solid #FFD700;
	background-color: #7b7c7c;
	color: #FFD700;
}

.blog {
	border-bottom: 5px solid #FFD700;
	background-color: #e8e8e8;
}

.contact {
	border-bottom: 5px solid #FFD700;
	background-color: #7b7c7c;
	color: #FFD700;
}

