@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	margin: 0;
	font-family: Oswald, sans-serif;
}

.stickyNav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	background-color: #7b7c7c;
	border-bottom: 5px solid #ffcda0; /*Gold*/
	position: sticky;
	top: 0;
}

.stickyNav a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

.stickyNav a:hover{ 
	color: #ffcda0; /*Gold*/
	text-decoration: underline; 
}

.header {
	background-color: #e8e8e8;
	border-bottom: 5px solid #ffcda0;
}

.title {
	width: 500px;
	margin: auto;
	padding-top: 200px;
	font-size: 25px;
}

#titleUnderline {
	border-bottom: 4px solid #ffcda0;
}

.social {
	width: 350px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 162px;
	text-align: center;
}

.social img {
	padding: 0px 25px;
}

@media screen and (max-width: 600px){
	.stickyNav {
		flex-direction: column;
		align-content: center;
	}
	.stickyNav a {
		padding: 0;
	}
}

.about {
	border-bottom: 5px solid #ffcda0; /*Gold*/
	background-color: #7b7c7c; /*Dark Gray*/
	color: white;
}

.about h2 {
	font-size: 45px;
    text-decoration: underline;
    text-decoration-color: #ffcda0;
	padding: 50px;
	width: 200px;
	text-align: center;
	margin: auto;
}

.about h3 {
	padding-bottom: 20px;
}

.con {
	display: flex;
}

.tools {
	flex: 25%;
	text-align: center;
}

.tools h3 {
	font-size: 30px;
	padding-left: 40px;
}

.tools ul{
	padding-top: 30px;
	list-style-type: none;
}

.qualities {
	flex: 75%;
	text-align: center;
	padding-bottom: 50px;
}

.qualities h3 {
	font-size: 30px;
}

.qualitiesImg img {
	margin: 0px 200px auto;
}

.qualitiesContainer {
	display: flex;
}

.qualitiesContainer > div {
	flex: 50%;
}

.portfolio {
	border-bottom: 5px solid #ffcda0; /*Gold*/
}

.portfolio h2 {
	font-size: 45px;
	padding: 50px;
	width: 200px;
	text-align: center;
	margin: auto;
	text-decoration: underline;
    text-decoration-color: #ffcda0;
}

.projects {
	width: 1400px;
	text-align: center;
	margin: auto;
}

.projects img {
	border: 2px solid #ffcda0;
	border-radius: 12px;
	margin: 20px 160px;
}

.projectDescriptions {
	font-size: 25px;
	text-align: center;
	padding-bottom: 200px;
	text-decoration: underline;
    text-decoration-color: #ffcda0;
}

.projectDescriptions span {
	padding: 0px 255px;
}

.blog {
	border-bottom: 5px solid #ffcda0; /*Gold*/
	background-color: #7b7c7c; /*Dark Gray*/
	color: white;
}
    
.blog h2 {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: #ffcda0;
    font-size: 45px;
}

.blogs {
	width: 700px;
	margin: auto;
	text-align: center;
	padding-bottom: 100px;
}

.blogRow img {
	border: 2px solid #ffcda0;
	border-radius: 8px;
}

    
.contact {
	border-bottom: 5px solid #ffcda0; /*Gold*/
	background-color: #e8e8e8; /*Light Gray*/
}

.contactHeader {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: #ffcda0;
    font-size: 30px;
}

.contactText {
	display: flex;
	font-size: 25px;
	justify-content: center;
	text-align: center;
}

.contactForms {
	display: flex;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	margin-bottom: 150px;
}

.submitButton {
	background-color: #ffcda0;
	width: 100px;
	border: 2px solid black;
	margin-top: 10px;
	border-radius: 4px;
	font-size: 15px;
}

.submitButton:hover {
	cursor: pointer;
}

#message {
	line-height: 70px;
	align-items: flex-start;
}