@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	margin: 0;
	font-family: Oswald, sans-serif;
}

.stickyNav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	background-color: black;
	border-bottom: 5px solid #FFD700; /*Gold*/
	position: sticky;
	top: 0;
}

.stickyNav a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

.stickyNav a:hover{ 
	color: #FFD700; /*Gold*/
	text-decoration: underline; 
}

.header {
	background-color: #e8e8e8;
	border-bottom: 5px solid #FFD700;
}

.title {
	width: 500px;
	margin: auto;
	padding-top: 200px;
	font-size: 25px;
}

#titleUnderline {
	border-bottom: 4px solid #FFD700;
}

.social {
	width: 350px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 162px;
	text-align: center;
}

.social img {
	padding: 0px 25px;
}

@media screen and (max-width: 600px){
	.stickyNav {
		flex-direction: column;
		align-content: center;
	}
	.stickyNav a {
		padding: 0;
	}
}

.about {
	border-bottom: 5px solid #FFD700; /*Gold*/
	background-color: #7b7c7c; /*Dark Gray*/
}

.aboutHeader {
    display: flex;
    justify-content: center;
    padding: 50px 0px 20px;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    font-size: 30px;
}

.aboutContainer {
	display: flex;
}

.tools {
	flex: 25%;
	border-right: 3px solid #FFD700;
	padding: 0px 20px 20px 20px; 
}

.qualities {
	flex: 75%;
	padding-left: 230px;
}

.portfolio {
	border-bottom: 5px solid #FFD700; /*Gold*/
	background-color: #e8e8e8; /*Light Gray*/
}

.portfolioHeader {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    font-size: 30px;
}

.projects {
	width: 350px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 162px;
	text-align: center;
	/*make each section their own div*/
}

.blog {
	border-bottom: 5px solid #FFD700; /*Gold*/
	background-color: #7b7c7c; /*Dark Gray*/
}
    
.blogHeader {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    font-size: 30px;
}
    
.contact {
	border-bottom: 5px solid #FFD700; /*Gold*/
	background-color: #e8e8e8; /*Light Gray*/
}

.contactHeader {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    font-size: 30px;
}

.contactText {
	display: flex;
	font-size: 25px;
	justify-content: center;
	text-align: center;
}

.contactForms {
	display: flex;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;
}

#message {
	line-height: 70px;
	align-items: flex-start;
}